@import '../../../../styles.scss';

.form-style{
  width: 100%;
  .primary-button{
    float: right;
  }
}
.errormessage{
  color : red;
  font-size: 12px;
}


.form-control{
  height: 30px;
  width: 100%;
  border: solid 1px rgba(0,0,0,.12);
}
.vertical{
  display: flex;
  .left{
    width: 80%;
  }
  .right{
    .image{
      max-width: 181px;
    }
  }
}
