<mat-card class="card">
  <div class="top">
    <p class="text">Staging Orders</p>
  </div>
  <div class="bottom">
    <div class="sub-container">
      <span class="text-main">{{delivered}}</span>
      <span class="text">Delivered</span>
    </div>
    <div class="sub-container">
      <span class="text-main">{{shipped}}</span>
      <span class="text">Shipped</span>
    </div>
    <div class="sub-container">
      <span class="text-main">{{orderPlaced}}</span>
      <span class="text">Ordered</span>
    </div>
  </div>
  <div class="bottom">
    <div class="sub-container">
      <span class="text-main">{{nearby}}</span>
      <span class="text">Near By</span>
    </div>
    <div class="sub-container">
      <span class="text-main">{{cancelled}}</span>
      <span class="text">Cancelled</span>
    </div>
    <div class="sub-container">
      <span class="text-main">1</span>
      <span class="text">Returned</span>
    </div>
  </div>
</mat-card>
