
<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner class="spinner" *ngIf="isLoadingResults"></mat-spinner>
</div>

<div class="container-fluid" *ngIf="!isLoadingResults">
<div class="row">
  <div class="col">

<div class="mat-elevation-z8" >

  <div class="top-section">
    <div class="left">
      <input class="form-control" placeholder="Search here" (keyup)="applyFilter($event)"  #input>
      <mat-icon class="search-icon">search</mat-icon>
    </div>
    <div class="right">
      <button mat-raised-button class="primary-button btn-md" (click)="addNewCategory()">Add New</button>
    </div>
  </div>


  <mat-table class="table" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef> SI. No. </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index"> {{i+1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category_name">
      <mat-header-cell  *matHeaderCellDef > Category </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="products_count">
      <mat-header-cell *matHeaderCellDef> Products </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.length}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="button-sec">
          <button class="primary-button btn-center" (click)="onEdit(element)">
            <mat-icon class="icon">create</mat-icon>
            Edit
          </button>
          <button class="secondary-button btn-center mat-elevation-z2" (click)="onDelete(element.categoryId)">
            <mat-icon class="icon">delete_outline</mat-icon>
            Delete
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayColumn"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumn;"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

  </div>
</div>
</div>


