<h6 class="dialog-header-font">CATEGORY</h6>
<hr>
<div class="row">
  <div class="col">
    <form class="example-form" #addCategoryForm="ngForm" >
      <div class="form-group">
        <mat-label>Product Name </mat-label>
        <input class="form-control" matInput  name="name" [(ngModel)]="name1" ngModel #name="ngModel" required minlength="3">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"  class="errormessage">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 3 characters long.
          </div>
        </div>
      </div>

      <div class="form-group">
      <mat-label>Colors</mat-label>
      <mat-select class="form-control" matInput name="color" [(ngModel)]="categoryColor"  ngModel #color="ngModel" required>
        <mat-option value="palegreen">Palegreen</mat-option>
        <mat-option value="coral">Coral</mat-option>
        <mat-option value="slateblue">Slateblue</mat-option>
        <mat-option value="skyblue">Skyblue</mat-option>
        <mat-option value="orange">Orange</mat-option>
      </mat-select>
      </div>
      <div *ngIf="color.invalid && (color.dirty || color.touched)"  class="errormessage">
        <div *ngIf="color.errors.required">
          Color is required.
        </div>
      </div>
      <button *ngIf="!data" class="primary-button" mat-raised-button [disabled]="addCategoryForm.invalid"
      [mat-dialog-close]="true" (click)="onCategorySave(addCategoryForm.value)">Add</button>
      <button *ngIf="data" class="primary-button" mat-raised-button [disabled]="addCategoryForm.invalid"
      [mat-dialog-close]="true" (click)="onUpdate(addCategoryForm.value)">Update</button>
    </form>
  </div>
</div>
