@import '../../../../styles.scss';

.example-form {
  min-width: 350px;
  max-width: 500px;
  width: 100%;
}
.full-width {
  width: 100%;
}
.errormessage {
  color : red;
  font-size: 12px;
}
.dialog-header-font{
  @extend .dialog-header-font;
  // font-size: 1rem;
  // font-weight: bold;
}
::ng-deep .mat-form-field-underline {
  display: block;
}
