<div class="row main-row">
<div class="col-lg-7">
  <div class="row">
    <div class="col">
      <p class="title">ABOUT</p>
      <p class="text">Contact us</p>
      <p class="text">About us</p>
      <p class="text">Careers</p>
      <p class="text">Shopcart stories</p>
      <p class="text">Press</p>
      <p class="text">Shopcart Wholesale</p>
    </div>
    <div class="col">
      <p class="title">HELP</p>
      <p class="text">Shipping</p>
      <p class="text">Payments</p>
      <p class="text">cancelling & Return</p>
      <p class="text">FAQ</p>
      <p class="text">Report Infridgement</p>
    </div>
    <div class="col">
      <p class="title">POLICY</p>
      <p class="text">Return Policy</p>
      <p class="text">Terms of use</p>
      <p class="text">security</p>
      <p class="text">privacy</p>
      <p class="text">sitemap</p>
      <p class="text">EPR Compliance</p>
    </div>
    <div class="col">
      <p class="title">SOCIAL</p>
      <p class="text">facebook</p>
      <p class="text">twitter</p>
      <p class="text">youtube</p>
    </div>
  </div>
</div>
<div class="col-lg-5">
  <div class="row">
    <div class="col-lg-6">
      <p class="title">Mail us</p>
      <p class="text">Shopcart Internet Private Limited,Buildings Alyssa, Begonia & Clove Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village, Bengaluru, 560103, Karnataka, India</p>
    </div>
    <div class="col-lg-6">
      <p class="title">Registered Office Address:</p>
      <p class="text">
        Buildings Alyssa, Begonia &
        Clove Embassy Tech Village
        Outer Ring Road, Devarabeesanahalli Village,
        Bengaluru, 560103,
        Karnataka, India
        Registered Office Address:
        Shopcart Internet Private Limited,
        Buildings Alyssa, Begonia &
        Clove Embassy Tech Village,
        Outer Ring Road, Devarabeesanahalli Village,
        Bengaluru, 560103,
        Karnataka, India
        CIN : U51109KA2012PTC066107
        Telephone: 1800 202 9898</p>
    </div>
  </div>
</div>
</div>
