@import '../../../../styles.scss';
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}


.index{
  max-width: 5rem;
}
.address{
  min-width: 20rem;
}

.container{
  min-width: 99%;
  margin-top: 2rem;
}
.form-control{
  width: 70%;
}

.top-section{
  display: flex;
  justify-content: space-between;
  .left{
    margin: 1rem;
  }
}

.primary-button{
  height: 3.1rem;
  margin: .5rem 1rem 0 1rem;
}
.search-icon{
  margin-left: -2rem;
}
.right{
  display: flex;
}
