<div class="example-loading-shade"
*ngIf="isLoadingResults || isRateLimitReached">
<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
PLEASE WAIT ....
</div>
</div>

<div class="container">
  <div class="mat-elevation-z8">

    <div class="top-section">
      <div class="left">
        <mat-form-field>
          <input matInput (keyup)="searchInTable($event.target.value)" type="text" placeholder="search here">
        </mat-form-field>
        <mat-icon class="search-icon">search</mat-icon>
      </div>
      <div class="right">
        <app-filter (callParentFunction)="filterByPreference($event)" (callParentFunction2)="filterByDate($event)"></app-filter>
        <button class="primary-button" mat-raised-button (click)="resetTable()">Reset</button>
      </div>
    </div>



    <mat-table  [dataSource]="orderData |filter:filterArg |dateFilter:startDate:endDate |search:searchBy"  *ngIf="orderData && orderData.length >= 9">

      <ng-container matColumnDef="index" >
        <mat-header-cell  *matHeaderCellDef class="index"> No. </mat-header-cell>
        <mat-cell class="index" *matCellDef="let element; let i = index"> {{i+1}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="product">
        <mat-header-cell  *matHeaderCellDef> Product </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.toPay}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="payment">
        <mat-header-cell *matHeaderCellDef> Payment Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.paymentType || element.PaymentType}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell class="address" *matHeaderCellDef> Delivary Address </mat-header-cell>
        <mat-cell class="address" *matCellDef="let element"> {{element.delivaryAddress}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell  *matHeaderCellDef> Ordered Date </mat-header-cell>
        <mat-cell  *matCellDef="let element; let i = index"> {{element.date.seconds *1000 |date }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayColumn"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColumn;"></mat-row>
    </mat-table>

    </div>
</div>
