@import '../../../../styles.scss';
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}


.index{
  max-width: 5rem;
}
.address{
  min-width: 20rem;
  margin-right: 2rem;
}
.orderid{
  margin-right: 1rem;
}
.container{
  min-width: 99%;
  margin-top: 2rem;
}
.form-control{
  width: 70%;
}

.top-section{
  display: flex;
  justify-content: space-between;
  .left{
    margin: 1.8rem;
    display: flex;
    .form-control{
      width: 300px;
    }
    .search-icon{
      margin-left: -2rem;
      margin-top: 2px;
      opacity: .7;
    }
  }
  .right{
    display: flex;
    .refresh-icon{
      font-size: 2rem;
      color: $navbar-color;
      margin: 2rem 2rem 0 0;
      transition:2.5s;
      cursor: pointer;
    }
    .rotate-action{
      font-size: 2rem;
      color: $navbar-color;
      margin: 2rem 2rem 0 0;
      transition:2.5s;
      transform:rotate(720deg);
      cursor: pointer;
    }
  }
}



