<div class="container">
  <div class="row">

    <div class="col-4" *ngIf="currentShow == 'product'">
      <mat-card class="card" (click)="addNewProduct()">
        <mat-icon class="icon">add</mat-icon>
        <p class="text">Add New Product</p>
      </mat-card>
    </div>

    <div class="col-4" *ngIf="currentShow == 'category'">
      <mat-card class="card" (click)="addNewCategory()">
        <mat-icon class="icon">add</mat-icon>
        <p class="text">Add New Category</p>
      </mat-card>
    </div>

    <div class="col-4" *ngIf="currentShow == 'orders'">
      <mat-card class="card" (click)="viewOrders()">
        <mat-icon class="icon">view_carousel</mat-icon>
        <p class="text">Orders</p>
      </mat-card>
    </div>

    <div class="col-4" *ngIf="currentShow == 'category'">
      <mat-card class="card" (click)="viewCategory()">
        <mat-icon class="icon">view_carousel</mat-icon>
        <p class="text">Categories</p>
      </mat-card>
    </div>

  </div>
</div>
